<!-- <p>Salam Tunuw</p>

<b>{{title}} projesi {{50 | currency}}</b> -->

<!-- Property binding -->
<!-- <app-home [name]= "7" [surname]="8" ></app-home> -->
<!-- <p style="font-weight: bold;">Template Form</p> -->

<!-- <app-home [name]="5"></app-home>  -->

<!-- <ul>
    <li *ngFor="let book of books">{{book.name}} - {{book.page}}</li>
</ul> -->

<!-- <p>RandomNum  {{randomNumService.getRandom()}}</p>
<app-home></app-home> -->

<a routerLink="home">HOME</a> | <a routerLink="form">FORM</a>
<br><hr>
<router-outlet></router-outlet>